[submodule "target/libs/custom-can-protocol"]
	path = target/libs/custom-can-protocol
	url = git@github.com:jaxsonpd/custom-can-protocol.git
[submodule "target/libs/avr-extends"]
	path = target/libs/avr-extends
	url = git@github.com:jaxsonpd/avr-extends.git
